<% provide(:title, @user.email) %>
  <% if logged_in? %>
<h1>
  <%= @user.name %>
</h1>

<p>
  email : <%= @user.email %>
</p>

<h1>Tes événement</h1>

<table>
 <tr>
   <th><h3>|Description</h3></th>
   <th><h3>|Date</h3></th>
   <th><h3>|Lieu</h3></th>
   <th><h3>|Proposé par</h3></th>
   <th>|</th>
 </tr>

<% @user.created_events.each do |event| %>
   <tr>
     <td>| <%= event.description %> </td>
     <td>| <%= event.date %> </td>
     <td>| <%= event.place %> </td>
     <td>| <%= event.creator.name %> </td>
     <td>| </td>
      <% end %>
   </tr>
  </table>

<h3><%= link_to "Propose un événement",  new_event_path %></h3>
<% end %>
